.App {
  font-size: 62.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactFormDiv {
  margin-top: 3%;
  border-radius: 5px;
  background-color: silver;
  padding: 2% 3% 3%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5%;
}

.contactFormDiv h2 {
  color: #C61C1C;
}

.nameInfo, .contactInfo {
  display: flex;
}

#firstName, #lastName, #email, #phone {
  width: 200px;
  height: 40px;
  margin: 5px 10px;
  font-size: 1.4rem;
}

#description {
  width: 420px;
  height: 200px;
  margin: 5px 10px;
  font-size: 1.4rem;
}

.submitBtn.btn.btn-secondary:hover {
  background-color: #666666;
}

